.body1
{
	font-size: 25px;
	text-align:center;
	background:green;
}
.h21
{
	text-align: center;
	margin:40px auto 0px;
	color:white;
	background:#5F9EA0;
	border:1px solid #B0C4DE;
	border-bottom:none;
	border-radius:10px,10px,0px,0px;
	padding:20px;
}
.form1
{
	text-align: left;
	width:30%;
	margin:0px auto;
	padding:20px 20px;
	border:1px solid #B0C4DE;
	background:pink;
	border-radius:0px 0px 10px 10px;
}
.text
{
  width:140px; 
}


